[Unit]
Description=Scrap HLTV.org matches
Wants=hltvf-scrap.timer

[Service]
User=hltv
Environment=NODE_ENV=production
WorkingDirectory=/opt/hltv-featured
ExecStart=/usr/bin/yarn scraper

[Install]
RequiredBy=hltvf-scrap.timer
