[Unit]
Description=HLTV Featured Backend
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
User=hltv
Environment=NODE_ENV=production
WorkingDirectory=/opt/hltv-featured
ExecStart=/usr/bin/env node ./src/backend/backend.js
Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
