[Unit]
Description=Run hltv-featured notificator
Wants=hltvf-notify.timer

[Service]
User=hltv
Environment=NODE_ENV=production
WorkingDirectory=/opt/hltv-featured
ExecStart=/usr/bin/yarn notifier
